[submodule "user/rango"]
	path = user/rango
	url = https://github.com/kevindevos/rango
[submodule "user/rango-talon"]
	path = user/rango-talon
	url = https://github.com/kevindevos/rango-talon
[submodule "user/cursorless-talon"]
	path = user/cursorless-talon
	url = https://github.com/kevindevos/cursorless-talon
[submodule "user/webspeech_examples"]
	path = user/webspeech_examples
	url = https://github.com/kevindevos/webspeech_examples
[submodule "user/community"]
	path = user/community
	url = https://github.com/kevindevos/community
